<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="mystyless.css">
    <script src="xuly.js"></script>

</head>

<body>
    <header>
        <h1>RasPi WebSocket</h1>
    </header>
    <div class="row" style="width: 1920px;">
        <div class="col-md-6">
            <div class="row ">
                <div class="toggle-button-demo col-md-6">
                    <input class="toggle toggle-ios" id="toggle1" type="checkbox">
                    <label class="toggle-btn" for="toggle1"></label>
                </div>
                <div id='btn' class="col-md-6">
                    <div class="led" id="led1"></div>
                </div>
            </div>
            <div class="row container justify-content-md-center">
                <div class="col-md-6">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="so1">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <input type="text" class="form-control" id="so2">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <input type="text" class="form-control" id="so3">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <input type="text" class="form-control" id="so4">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <button class="btn btn-primary col-sm-12" id="toggle2">Enter</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12 container justify-content-md-center ">
                <div class="tab">
                    <div class="tab-ma">
                            <div id="FC-T">  </div>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: 20px">
                    <button class="btn btn-success  col-sm-6" id="toggle3">Enter</button>
                 </div>
            </div>
        </div>
        <div class="col-md-6" style="border-left: 2px solid rgb(58, 255, 58)">
            <div class="row ">
                <div class="toggle-button-demo col-md-6">
                    <input class="toggle toggle-ios" id="toggle11" type="checkbox">
                    <label class="toggle-btn" for="toggle11"></label>
                </div>
                <div id='btn' class="col-md-6">
                    <div class="led" id="led2"></div>
                </div>
            </div>
            <div class="row container justify-content-md-center">
                <div class="col-md-6">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="so11">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <input type="text" class="form-control" id="so22">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <input type="text" class="form-control" id="so33">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <input type="text" class="form-control" id="so44">
                    </div>
                    <div class="col-sm-6" style="margin-top: 20px">
                        <button class="btn btn-primary col-sm-12" id="toggle22">Enter</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12 container justify-content-md-center ">
                <div class="tab">
                    <div class="tab-ma">
                         <div id="FC-S">  </div>
                    </div>
                </div>
                <div class="col-sm-3" style="margin-top: 20px">
                     <button class="btn btn-success col-sm-12" id="toggle33">Enter</button>
                 </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>